/** @format */

.score-display {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.score,
.level {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.score {
    font-size: 1.875rem;
    color: #4f46e5;
}

.level {
    font-size: 1.5rem;
    color: #7e22ce;
    margin-top: 0.5rem;
}

.award-icon {
    color: #fbbf24;
    margin-right: 0.5rem;
}

.level-icon {
    color: #3b82f6;
    margin-right: 0.5rem;
}
